<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.f.dao.orders.ODetailMapper" >
  <resultMap id="BaseResultMap" type="com.f.dto.orders.ODetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="goodsId" property="goodsId" jdbcType="BIGINT" />
    <result column="buyPrice" property="buyPrice" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="isDelivery" property="isDelivery" jdbcType="INTEGER" />
    <result column="isSend" property="isSend" jdbcType="INTEGER" />
    <result column="deliveryTime" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, goodsId, buyPrice, number, isDelivery, isSend, deliveryTime, sendTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.f.dto.orders.ODetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from odetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from odetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.f.dto.orders.ODetail" >
    insert into odetail (id, orderId, goodsId, 
      buyPrice, number, isDelivery, 
      isSend, deliveryTime, sendTime
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{buyPrice,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER}, #{isDelivery,jdbcType=INTEGER}, 
      #{isSend,jdbcType=INTEGER}, #{deliveryTime,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.f.dto.orders.ODetail" >
    insert into odetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="buyPrice != null" >
        buyPrice,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="isDelivery != null" >
        isDelivery,
      </if>
      <if test="isSend != null" >
        isSend,
      </if>
      <if test="deliveryTime != null" >
        deliveryTime,
      </if>
      <if test="sendTime != null" >
        sendTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="isDelivery != null" >
        #{isDelivery,jdbcType=INTEGER},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=INTEGER},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.f.dto.orders.ODetailExample" resultType="java.lang.Integer" >
    select count(*) from odetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update odetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        orderId = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsId != null" >
        goodsId = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.buyPrice != null" >
        buyPrice = #{record.buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.isDelivery != null" >
        isDelivery = #{record.isDelivery,jdbcType=INTEGER},
      </if>
      <if test="record.isSend != null" >
        isSend = #{record.isSend,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryTime != null" >
        deliveryTime = #{record.deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendTime != null" >
        sendTime = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update odetail
    set id = #{record.id,jdbcType=BIGINT},
      orderId = #{record.orderId,jdbcType=BIGINT},
      goodsId = #{record.goodsId,jdbcType=BIGINT},
      buyPrice = #{record.buyPrice,jdbcType=DECIMAL},
      number = #{record.number,jdbcType=INTEGER},
      isDelivery = #{record.isDelivery,jdbcType=INTEGER},
      isSend = #{record.isSend,jdbcType=INTEGER},
      deliveryTime = #{record.deliveryTime,jdbcType=TIMESTAMP},
      sendTime = #{record.sendTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.f.dto.orders.ODetail" >
    update odetail
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goodsId = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="buyPrice != null" >
        buyPrice = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="isDelivery != null" >
        isDelivery = #{isDelivery,jdbcType=INTEGER},
      </if>
      <if test="isSend != null" >
        isSend = #{isSend,jdbcType=INTEGER},
      </if>
      <if test="deliveryTime != null" >
        deliveryTime = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        sendTime = #{sendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.f.dto.orders.ODetail" >
    update odetail
    set orderId = #{orderId,jdbcType=BIGINT},
      goodsId = #{goodsId,jdbcType=BIGINT},
      buyPrice = #{buyPrice,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      isDelivery = #{isDelivery,jdbcType=INTEGER},
      isSend = #{isSend,jdbcType=INTEGER},
      deliveryTime = #{deliveryTime,jdbcType=TIMESTAMP},
      sendTime = #{sendTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>