<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.f.dao.orders.ODetailMapper" >
  <resultMap id="BaseResultMap" type="com.f.dto.orders.ODetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="cgoodsId" property="cgoodsId" jdbcType="BIGINT" />
    <result column="buyPrice" property="buyPrice" jdbcType="DECIMAL" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, cgoodsId, buyPrice, number, sku
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.f.dto.orders.ODetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from odetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from odetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.f.dto.orders.ODetail" >
    insert into odetail (id, orderId, cgoodsId, 
      buyPrice, number, sku
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{cgoodsId,jdbcType=BIGINT}, 
      #{buyPrice,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER}, #{sku,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.f.dto.orders.ODetail" >
    insert into odetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="cgoodsId != null" >
        cgoodsId,
      </if>
      <if test="buyPrice != null" >
        buyPrice,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="sku != null" >
        sku,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="cgoodsId != null" >
        #{cgoodsId,jdbcType=BIGINT},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.f.dto.orders.ODetailExample" resultType="java.lang.Integer" >
    select count(*) from odetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update odetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        orderId = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.cgoodsId != null" >
        cgoodsId = #{record.cgoodsId,jdbcType=BIGINT},
      </if>
      <if test="record.buyPrice != null" >
        buyPrice = #{record.buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.sku != null" >
        sku = #{record.sku,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update odetail
    set id = #{record.id,jdbcType=BIGINT},
      orderId = #{record.orderId,jdbcType=BIGINT},
      cgoodsId = #{record.cgoodsId,jdbcType=BIGINT},
      buyPrice = #{record.buyPrice,jdbcType=DECIMAL},
      number = #{record.number,jdbcType=INTEGER},
      sku = #{record.sku,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.f.dto.orders.ODetail" >
    update odetail
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="cgoodsId != null" >
        cgoodsId = #{cgoodsId,jdbcType=BIGINT},
      </if>
      <if test="buyPrice != null" >
        buyPrice = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="sku != null" >
        sku = #{sku,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.f.dto.orders.ODetail" >
    update odetail
    set orderId = #{orderId,jdbcType=BIGINT},
      cgoodsId = #{cgoodsId,jdbcType=BIGINT},
      buyPrice = #{buyPrice,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      sku = #{sku,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>