<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.f.dao.goods.GDetailMapper" >
  <resultMap id="BaseResultMap" type="com.f.dto.goods.GDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cgid" property="cgid" jdbcType="BIGINT" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="photo1" property="photo1" jdbcType="VARCHAR" />
    <result column="photo2" property="photo2" jdbcType="VARCHAR" />
    <result column="photo3" property="photo3" jdbcType="VARCHAR" />
    <result column="photo4" property="photo4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cgid, photo, photo1, photo2, photo3, photo4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.f.dto.goods.GDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gdetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.f.dto.goods.GDetail" >
    insert into gdetail (id, cgid, photo, 
      photo1, photo2, photo3, 
      photo4)
    values (#{id,jdbcType=BIGINT}, #{cgid,jdbcType=BIGINT}, #{photo,jdbcType=VARCHAR}, 
      #{photo1,jdbcType=VARCHAR}, #{photo2,jdbcType=VARCHAR}, #{photo3,jdbcType=VARCHAR}, 
      #{photo4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.f.dto.goods.GDetail" >
    insert into gdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cgid != null" >
        cgid,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="photo1 != null" >
        photo1,
      </if>
      <if test="photo2 != null" >
        photo2,
      </if>
      <if test="photo3 != null" >
        photo3,
      </if>
      <if test="photo4 != null" >
        photo4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cgid != null" >
        #{cgid,jdbcType=BIGINT},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        #{photo4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.f.dto.goods.GDetailExample" resultType="java.lang.Integer" >
    select count(*) from gdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gdetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cgid != null" >
        cgid = #{record.cgid,jdbcType=BIGINT},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.photo1 != null" >
        photo1 = #{record.photo1,jdbcType=VARCHAR},
      </if>
      <if test="record.photo2 != null" >
        photo2 = #{record.photo2,jdbcType=VARCHAR},
      </if>
      <if test="record.photo3 != null" >
        photo3 = #{record.photo3,jdbcType=VARCHAR},
      </if>
      <if test="record.photo4 != null" >
        photo4 = #{record.photo4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gdetail
    set id = #{record.id,jdbcType=BIGINT},
      cgid = #{record.cgid,jdbcType=BIGINT},
      photo = #{record.photo,jdbcType=VARCHAR},
      photo1 = #{record.photo1,jdbcType=VARCHAR},
      photo2 = #{record.photo2,jdbcType=VARCHAR},
      photo3 = #{record.photo3,jdbcType=VARCHAR},
      photo4 = #{record.photo4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.f.dto.goods.GDetail" >
    update gdetail
    <set >
      <if test="cgid != null" >
        cgid = #{cgid,jdbcType=BIGINT},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="photo1 != null" >
        photo1 = #{photo1,jdbcType=VARCHAR},
      </if>
      <if test="photo2 != null" >
        photo2 = #{photo2,jdbcType=VARCHAR},
      </if>
      <if test="photo3 != null" >
        photo3 = #{photo3,jdbcType=VARCHAR},
      </if>
      <if test="photo4 != null" >
        photo4 = #{photo4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.f.dto.goods.GDetail" >
    update gdetail
    set cgid = #{cgid,jdbcType=BIGINT},
      photo = #{photo,jdbcType=VARCHAR},
      photo1 = #{photo1,jdbcType=VARCHAR},
      photo2 = #{photo2,jdbcType=VARCHAR},
      photo3 = #{photo3,jdbcType=VARCHAR},
      photo4 = #{photo4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>